doctype html
html
  head
    title Vorter
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/profile.css')
    link(rel='icon', href='/img/favicon.ico')
    meta(name='description', content='Vorter is a service to group up and cooperate gamers')
  body
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      div.logocontainer
        a.mt-1.navbar-brand.logotype.h1(href='/') V
          img.rotating(src='/img/favicon.ico')
        a.navbar-brand.logotype.h1(href='/') RTER
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.h6
          if user
            li.nav-item
              strong
                a.nav-link(href='/profile')
                  u #{user.nickname}
        ul.navbar-nav.navbar-right
          li.nav-item.mr-3
            |Local time:
            .localTime
          li.nav-item.mr-3
            |Timezone:
            .timeZone #{user.timezone}
          li.nav-item
            a.nav-link(href='/faq') FAQ
          li.nav-item
            a.nav-link(href='/about') About
          if user
            li.nav-item
              a.nav-link.font-weight-bold(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
    .container
      != messages('message', locals)
      form(id='submitForm', method='POST', action='/profile')
        .profileInformation
          img.avatar(src='/img/avatar.png')
          .profileData
            input#nickname.form-control(name='nickname', type='text', placeholder='Nickname', value=user.nickname)
            input#country.form-control(name='country', type='text', placeholder='Country', value=user.country)
            select#timezone.form-control(name='timezone', required='')
              - var n=-12
              while n<15
                if (n<=-10)
                  option(value='GMT'+ n +'00' selected= user.timezone=='GMT'+ n +'00') GMT #{n}:00
                if (-10<n)&&(n<0)
                  option(value='GMT-0'+ (-n) +'00' selected= user.timezone=='GMT-0'+ (-n) +'00') GMT -0#{(-n)}:00
                if (0<=n)&&(n<10)
                  option(value='GMT+0'+ n +'00' selected= user.timezone=='GMT+0'+ n +'00') GMT +0#{n}:00
                if (10<=n)
                  option(value='GMT+'+ n +'00' selected= user.timezone=='GMT+'+ n +'00') GMT +#{n}:00
                - n++
            select#purpose.form-control(name='purpose', type='text')
                option(value='1', selected= user.purpose=='1') Chill
                option(value='2', selected= user.purpose=='2') Just for fun
                option(value='3', selected= user.purpose=='3') Tryhard
                option(value='4', selected= user.purpose=='4') Preparing to pro
                option(value='5', selected= user.purpose=='5') Professional
            select#overallskill.form-control(name='overallskill', type='text')
                option(value='1', selected= user.overallskill=='1') Low
                option(value='2', selected= user.overallskill=='2') Average
                option(value='3', selected= user.overallskill=='3') Not so high
                option(value='4', selected= user.overallskill=='4') Really so high
                option(value='5', selected= user.overallskill=='5') Pro
            #time-range
              p
                | Time range: 
                input#timefrom.slider-time.form-control.disabled(name='timefrom', type='text', placeholder='Time from', value= user.timefrom) 
                |  - 
                input#timeto.slider-time2.form-control.disabled(name='timeto', type='text', placeholder='Time to', value= user.timeto) 
              .sliders_step1
                #slider-range
          br
          .contacts
            |Contacts
            input#discord.form-control(name='discord', type='text', placeholder='Discord', value=user.discord)
            input#steam.form-control(name='steam', type='text', placeholder='Steam', value=user.steam)
          br
        button#profileSave.i.btn.btn-lg.btn-danger.btn-block(form="submitForm", type='submit', value='Save') Save
      form(id='cancelForm', method='POST', action='/cancel')
        button#profileCancel.i.btn.btn-lg.btn-primary.btn-block(form="cancelForm", type='submit', value='Cancel') Cancel
      br
    hr
    footer
      p.mt-2.mb-2.text-muted Copyright &copy; Vorter 2018
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/jquery-ui/jquery-ui.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/main.js')
  script(src='/js/profile.js')

