doctype html
html
  head
    title Vorter
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/profile.css')
    link(rel='icon', href='/img/favicon.ico')
    meta(name='description', content='Vorter is a service to group up and cooperate gamers')
  body
    nav.navbar.navbar-expand-sm.navbar-light.bg-light
      div.logocontainer
        a.mt-1.navbar-brand.logotype.h1(href='/') V
          img.rotating(src='/img/favicon.ico')
        a.navbar-brand.logotype.h1(href='/') RTER
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbar', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.h6
          if user
            li.nav-item
              strong
                a.nav-link(href='/profile')
                  u #{user.nickname}
        ul.navbar-nav.navbar-right
          li.nav-item.mr-3
            |Local time:
            .localTime
          li.nav-item.mr-3
            |Timezone:
            .timeZone
          li.nav-item
            a.nav-link(href='/faq') FAQ
          li.nav-item
            a.nav-link(href='/about') About
          if user
            li.nav-item
              a.nav-link.font-weight-bold(href='/users/logout') Logout
          else
            li.nav-item
              a.nav-link(href='/users/register') Register
            li.nav-item
              a.nav-link(href='/users/login') Login
    .container
      != messages('message', locals)
      form(id='submitForm', method='POST', action='/profile')
        .profileInformation
          img.avatar(src='/img/avatar.png')
          .profileData
            input#nickname.form-control(name='nickname', type='text', placeholder='Nickname', value=user.nickname)
            input#country.form-control(name='country', type='text', placeholder='Country', value=user.country)
            //input#timezone.form-control(name='timezone', type='text', placeholder='TimeZone', value=user.timezone)
            select#timezone.form-control(name='timezone', required='')
              - var n=-12
              while n<15
                if (n<=-10)
                  option(value='GMT'+ n +'00') GMT #{n}:00
                if (-10<n)&&(n<0)
                  option(value='GMT-0'+ (-n) +'00') GMT -0#{(-n)}:00
                if (0<=n)&&(n<10)
                  option(value='GMT+0'+ n +'00') GMT +0#{n}:00
                if (10<=n)
                  option(value='GMT+'+ n +'00') GMT +#{n}:00
                - n++
            select#purpose.form-control(name='purpose', type='text')
              if user.purpose=='1'
                option(value='1', selected='selected') Chill
              else
                option(value='1') Chill
              if user.purpose=='2'
                option(value='2', selected='selected') Just for fun
              else
                option(value='2') Just for fun
              if user.purpose=='3'
                option(value='3', selected='selected') Tryhard
              else
                option(value='3') Tryhard
              if user.purpose=='4'
                option(value='4', selected='selected') Preparing to pro
              else
                option(value='4') Preparing to pro
              if user.purpose=='5'
                option(value='5', selected='selected') Professional
              else
                option(value='5') Professional
            select#overallskill.form-control(name='overallskill', type='text')
              if user.overallskill=='1'
                option(value='1', selected='selected') Low
              else
                option(value='1') Low
              if user.overallskill=='2'
                option(value='2', selected='selected') Average
              else
                option(value='2') Average
              if user.overallskill=='3'
                option(value='3', selected='selected') Not so high
              else
                option(value='3') Not so high
              if user.overallskill=='4'
                option(value='4', selected='selected') Really so high
              else
                option(value='4') Really so high
              if user.overallskill=='5'
                option(value='5', selected='selected') Pro
              else
                option(value='5') Pro
            #time-range
              p
                | Time Range: 
                span.slider-time #{user.timefrom}
                |  - 
                span.slider-time2 #{user.timeto}
              .sliders_step1
                #slider-range
          br
          .contacts
            |Contacts
            input#discord.form-control(name='discord', type='text', placeholder='Discord', value=user.discord)
            input#steam.form-control(name='steam', type='text', placeholder='Steam', value=user.steam)
          br
        button#profileSave.i.btn.btn-lg.btn-danger.btn-block(form="submitForm", type='submit', value='Save') Save
      form(id='cancelForm', method='POST', action='/cancel')
        button#profileCancel.i.btn.btn-lg.btn-primary.btn-block(form="cancelForm", type='submit', value='Cancel') Cancel
      br
    hr
    footer
      p.mt-2.mb-2.text-muted Copyright &copy; Vorter 2018
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/jquery-ui/jquery-ui.js')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  script(src='/js/main.js')
  script(src='/js/profile.js')

